body
{
	background-image: url(../Images/banner.jpg);
    margin: 0;
    background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
}

h1
{
	font-size: 36px;
	line-height: 150%;
	font-weight: normal;
	color: #fff;
}

p
{
	font-size: 16px;
	color: #fff;
}

span 
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/*TOP MENU*/
header
{
	display: flex;
	background-image: url(../Images/topmenu.png);
	background-repeat: repeat-x;
	height: 80px;
}

nav
{
	display: flex;
	width: 1200px;
	height: 80px;
	margin: auto;
}

nav a:nth-child(1)
{
	flex: 4;
}
nav a:nth-child(2)
{
	flex: 1;
}
nav a:nth-child(3)
{
	flex: 1;
}

.crsauto
{
	width: 200px;
	height: 80px;
	background-image: url(../Images/crsauto.png);
}

.menubutton
{
	width: 200px;
	height: 80px;

	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.menubutton:hover
{
	background-color: #5a948f;
}

/*Content*/
main
{
	margin: auto;
	margin-top: 90px;

	width: 1200px;
	display: flex;
}

/*Content LEFT SIDE*/
article
{
	display: flex;
	flex-direction: column;

	width: 780px;
	margin: auto;
}

.textinbanner
{
	display: flex;
	flex-direction: column;

	vertical-align: middle;
	height: 290px;
	width: 770px;
	padding: 0 0 0 10px;
	margin: auto;
	line-height: 220%;

}

figure
{
	display: flex;
	flex-direction: row;
	margin: auto;
}

.buttonallegro
{
	display: flex;
	flex-direction: row;

	height: 60px;
	width: 200px;
}

.spaceleft
{
	display: flex;
	flex-direction: row;

	width: 50px;
	height: 60px;
}

.spaceright
{
	display: flex;
	flex-direction: row;

	width: 530px;
	height: 60px;
}

/*BANNER RIGHT SIDE*/
aside
{
	display: flex;
	flex-direction: column;

	width: 420px;
	height: 420px;
}

/*FOOTER*/
footer
{	
	position: absolute;

	background-color: #99e3e5;
	color: #777;

	bottom: 0px;
	width: 100%;

	line-height: 250%;
	text-align: center;
}

footer span
{
	padding: 0 20px 0 0;
}


